.news-details .title{
    font-size: 16px;
    color: #56b316;
}
.news-details .skip-info {
    color: #666;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
}
.news-details .skip-info span {
    margin-right: 24px;
}
.news-details .content {
    line-height: 24px;
    color: #666;
}
/* 新增 */
.content dd {
    text-indent:2em;
}
.content dt{
    font-weight:bold;
}
.content pre{
    text-align: center;
}
.content div {
    width: 400;
    height: 300;
}
.content img {
    display:inline-block;
    width:100%;
    height:100%;
}
.content .liucheng {
  height: 100;
  width: 600;
}
.content table{
    border: 1px solid black;
}
.content th, td{
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 30px;
}
.content th {
  font-weight:bold;
}
/* *********************** */
.next-previous p {
    font-size: 14px;
    line-height: 24px;
}
.next-previous p a:hover {
    text-decoration: underline;
}